.responsive-header-link {
  position: relative;
  background-color: var(--background);
  @media (min-width: 550px) {
    display: none;
  }
  .close {
    position: absolute;
    top: 24px;
    left: 24px;
  }
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: absolute;
    left: 45%;
    top: 30%;
  }
  .dropdown {
    img {
      width: 100%;
      height: 210px;
    }
  }
}
